// fonts
$M500: 'Manrope-Medium';
$M600: 'Manrope-SemiBold';
$Mbold: 'Manrope-Bold';

// colors
$violet: #A21ED8;
$violetText: #D775FF;
$violetDark: #520F6E;
$violetDarken: #6D0099;
$paleViolet: #CE68F8;
$pink: #E29CFF;
$turquoise: #00BAC6;
$black: #000000;
$gray: #8D8D8D;
$lightGray: #C4C4C4;
$lightestGray: #F0F0F0;
$grayDark: #626262;
$darkBlue: #041A69;
$white: #FFFFFF;
$notBlack: #030303;
$notWhite: #EAE4E4;
